:root{
    --main-bg-colour: #fff;
}

body {
    padding-top: 50px;
    background-color: var(--main-bg-colour);
    overflow: hidden;
}

nav{
    font-size: medium;
}

.nav-link{
    font-weight: 200;
}

.navbar-brand{
    margin: 0;
    padding: 1px;
}

.navbar-brand p{
    display: inline;
    font-size: medium;
    padding: 8px;
    margin: 0;
}

#car_logo{
    width: 20px;
    height: 20px;
    fill:white;
    vertical-align: text-bottom;
}

#home{
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

#home section > img{
    overflow: hidden;
    object-fit: cover;
    height: 100%;
}

#home article div{
    justify-content: center;
    padding: 10em;
    text-align: left;
    align-items: center;
    vertical-align: center;
}

#home article div p{
    color: gray;
}

#home button{
    border-radius: 5px;
    padding-left: 3em;
    padding-right: 3em;
    margin-right: 1em;
}