:root{
    --main-bg-colour: #fff;
}

body {
    padding-top: 50px;
    background-color: var(--main-bg-colour);
}

nav{
    font-size: medium;
}

.nav-link{
    font-weight: 200;
}

.navbar-brand{
    margin: 0;
    padding: 1px;
}

.navbar-brand p{
    display: inline;
    font-size: medium;
    padding: 8px;
    margin: 0;
}

#car_logo{
    width: 20px;
    height: 20px;
    fill:white;
    vertical-align: text-bottom;
}